.sidebar-bar {
  background: #093028; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #237a57,
    #093028
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lifestyle-main-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.nutrition-main-container {
  border: 1px solid green;
  border-radius: 12px;
  padding: 10px;
}

.tip-header {
  width: 380px;
  height: 120px;
  padding: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6%;
  margin-top: -16px;
  border-radius: 8px;
  background: #189b81;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
  -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

.tip-section {
  width: 380px;
  height: 120px;
  padding: 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 6%;
  margin-top: 32px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
  -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}
.tip-section-2 {
  display: flex;
  width: 380px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 160px;
  padding: 12px;
  position: absolute;
  right: 6%;
  margin-top: 200px;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  color: #000;
  -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

